p{
  color:red;
  color: #666666;
  font-family: 'David Libre', serif;
}

body{
  background-color:#b0a8a8;
}

.footer {
color: black;
background-color: #06a29c;
  font-family: 'Slabo 27px', serif;
  font-size: 0.8em;
  border-top: 1px solid black;
}

.header{
  font-family: 'David Libre', serif;
  font-size: 2.0em;
  border-top: 1px solid black
}

.navigation{
    list-style:none;
    margin: 0;
    background: gray;
    padding: 0;
    display: flex;
    flex-flow: column;
  }

  .navigation a{
    text-decoration: none;
    display: block;
    padding: 10px;
    color: white;
  }

  .aside-1 a:link, .aside-1 a:visited{
    display: block;
    color: #a23f89;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 4px;
    font-family: 'Open Sans', sans-serif;
  }

  .aside-2 a:link, .aside-2 a:visited{
    display: block;
    color: #9aef89;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 4px;
    font-family: 'Open Sans', sans-serif;
  }

  .main a:link, .main a:visited{
    display: block;
    color: #ffdda1;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 4px;
    font-family: 'Open Sans', sans-serif;
  }

  .main2 a:link, .main2 a:visited{
    display: block;
    color: #ffdda1;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 4px;
    font-family: 'Open Sans', sans-serif;
  }

@media (max-width:600px){

  .main{
    display:none;
  }


@media (min-width:500px){
    .header{
      display: flex;
      text-align: center;
      flex-flow: row;
    }

    .menu-trigger {
      display: none;
    }


    .header{
      flex:1 auto;
      justify-content: flex-start;
    }

    .navigation{
      flex-flow:row;
    }

    .navigation li{
      border: none;
      margin: 5px;
      padding: 10px;
    }

    .navigation a:hover{
      background: #C6550C;
    }

    .wrapper{
      display: flex;
      flex-flow: row;
    }

      .main{
        order: 1;
      }

      .aside-1{
        order: 2;
      }

      .aside-2{
        order: 3;
      }

      .footer{
        order:4;
      }
}

  @media (min-width:800px){
    .navigation{
      flex-flow: row;
      justify-content: flex-end;
    }

    .navigation a:hover{
      background:black;
    }

    .first{
      margin-right: auto;
    }

  }

  .aside{
    flex:1 auto;
  }

  .main{
  flex: 30px;
  }

  .header{
    background: #4A6B8A;
  }

  .footer{
    background:lightgreen;
  }

  .main{
    background: #669999;
    text-align: left;
  }

  .aside-1{
    background: #7AB85C;
  }

  .aside-2{
    background: #9476AB;
  }

  .wrapper{
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
  }

.header, .main, .aside, .main2, .footer{
  flex:1 100%;
  padding: 10px;
}

img{
  width: 100%
}

@media (min-width: 800px){
  .navigation{
    flex-flow: row;
    justify-content: flex-end;
  }

  .aside{
    flex: 1 auto;
  }

  .main{
    flex:3 0px;
  }

  .aside-1{
    order: 1;
  }

  .main{
    order: 2;
  }

  .aside-2{
    order: 3;
  }

  .footer{
    order:4;
  }

  .main{
    display:flex;
    flex-flow:row;
  }

  .main2{
    display:flex;
    flex-flow:row;
  }

  img{
    width: 80%;
    height: 90%;
    margin-right: 10px;
  }
}
